.bottom-sheet {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    pointer-events: none;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.1s linear;
    z-index: 9999;
}

    .bottom-sheet.show {
        opacity: 1;
        pointer-events: auto;
    }

    .bottom-sheet .bottom-sheet-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.45;
        background: var(--lumex-surface1);
    }

    .bottom-sheet .bottom-sheet-content {
        width: 100%;
        position: relative;
        background: var(--lumex-background);
        max-height: 100vh;
        height: 50vh;
        max-width: 1150px;
        padding: 25px 30px;
        transform: translateY(100%);
        border-radius: 12px 12px 0 0;
        box-shadow: 0 10px 20px rgba(0,0,0,0.03);
        transition: 0.3s ease;
    }

    .bottom-sheet.show .bottom-sheet-content {
        transform: translateY(0%);
    }

    .bottom-sheet.dragging .bottom-sheet-content {
        transition: none;
    }

    .bottom-sheet.fullscreen .bottom-sheet-content {
        border-radius: 0;
        overflow-y: hidden;
    }

    .bottom-sheet .bottom-sheet-header {
        display: flex;
        justify-content: center;
    }

.bottom-sheet-header .bottom-sheet-drag-icon {
    cursor: grab;
    user-select: none;
    padding: 15px;
    margin-top: -15px;
}

    .bottom-sheet-header .bottom-sheet-drag-icon::after {
        content: '';
        height: 4px;
        width: 40px;
        display: block;
        background: #C7D0E1;
        border-radius: 50px;
    }

.bottom-sheet .bottom-sheet-body {
    height: 100%;
    overflow-y: auto;
    padding: 15px 0 40px;
    scrollbar-width: none;
}

    .bottom-sheet .bottom-sheet-body::-webkit-scrollbar {
        width: 0;
    }

    .bottom-sheet .bottom-sheet-body h2 {
        font-size: 1.8rem;
    }

    .bottom-sheet .bottom-sheet-body p {
        margin-top: 20px;
        font-size: 1.05rem;
    }